.filaTitulo {
    display: flex;
}

.titulo {
    margin-top: 5rem;
    text-align: center;
    border: solid;
    border-radius: 15px;
    background-color: #00457C;
    color: antiquewhite;
}

.portada {
    padding: 2.5rem;

    .img-portada {
        height: 180px;
        width: 300px;
        border: solid;
        border: #ececec;
        border-radius: 5px;
        margin: auto;
        margin-top: 0.5rem;
    }

    .imagen-tarjeta{
        height: 250px;
        width: 150px;
        margin: auto;
    }
}



.container-serv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    padding: 3rem;

    .fodo-tarjeta {
        padding: 1rem;

        .tarjeta-serv {
            box-sizing: content-box;
            background: #00457C;
            border: solid;
            border-color: antiquewhite;
            border-radius: 15px;
            padding: 1rem;
            margin: auto;
            color: antiquewhite;

            .img-serv {
                height: 180px;
                width: 300px;
                border: solid;
                border: #ececec;
                border-radius: 5px;
                margin: auto;
                margin-top: 0.5rem;
            }
        }
    
    }

    }

.fondo-contacto {
    padding: 2rem;

    .col-info {
        background-color: #00457C;
        color: antiquewhite;

        .sub-titulo{
            text-align: center;
            padding: 1rem;
        }

        .info-contacto {
            padding: 1rem;
            text-align: center;
        }

        .redes-contacto {
            display: flex;
            justify-content: center;

            .li-redes {
                padding: 1rem;
            }
        }

        .mapa-contacto {
            text-align: center;
        }

     }

     .col-consulta {
        background-color: #00457C;
        color: antiquewhite;
        padding: 1rem;
    }


}