@media screen and (max-width: 1200px) {
    .img-portada{
        width: 200px;
    }
    
}

@media screen and (max-width: 990px) {

    .img-portada{
        width: 160px;
    }

    .redes-contacto {
        display: none;
    }
    
}

@media screen and (max-width: 768px) {
    .container-serv {
        grid-template-columns: 1fr;   
    }
}

@media screen and (max-width: 766px) {
    
    .img-portada {
        width: 300px;
    }
}

@media screen and (max-width: 400px) {
    .img-serv {
        width: 200px;
    }
}