*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: antiquewhite;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(133deg, rgba(2,0,36,1) 0%, rgba(9,77,121,1) 0%, rgba(177,184,186,1) 0%, rgba(255,255,255,1) 97%, rgba(247,247,247,1) 100%);
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}