*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: antiquewhite;
}

body {
    background-color: #ececec;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}